.container{
    width:100%;
    height:400px;
    margin: auto;
    /* border: 1px solid grey; */
}
.container .title{
    display: flex;
    /* border: 1px solid red; */
}
.container .title > button{
    align-self: center;
}
.container .title div{
    align-self: center;
}

/*요일*/
.container .week{
    display: flex;
}
.container .week .weekday{
    width: calc(100%/7);
    text-align: center;
}
.container .week .sunday{
    color: red;
}
.container .week .saturday{
    color: blue;
}

/*날짜*/
.container .date .weekday{
    width: calc(100%/7);
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.container .date .today{
    background-color: #FFDEAD;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}
/*선택한 날짜 효과*/
/*
background-color: #FFDEAD;
color: #fff;
border-radius: 50%;
font-weight:bold;
*/